<div class="navbar top">
  <div class="logo">
    <img src="/img/favicon.svg" alt="favicon.svg">
  </div>
  <div class="links">
    <a href="/home">Home</a>
    <a href="/modalita">Modalità</a>
    <a href="/regole">Regolamento</a>
    <a href="/staff">Staff</a>
    <a href="/punizioni/bans">Punizioni</a>
  </div>
  <div class="left">
    <p>mc.overlegend.it</p>
    <!--<input id="nickname" type="text">
    <button onclick="trylogin();">Login</button>-->
  </div>
</div>